{% extends "base.html" %}
{% block content %}

<h4>User Management</h4>

<a class="btn btn-primary mb-3"
   href="{{ url_for('admin.user_create') }}">
   Create User
</a>

<table class="table table-sm table-bordered">
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Name</th>
    <th>Role</th>
    <th>Status</th>
    <th>Action</th>
  </tr>

  {% for u in users %}
  <tr>
    <td>{{ u.user_id }}</td>
    <td>{{ u.username }}</td>
    <td>{{ u.full_name }}</td>
    <td>{{ u.role }}</td>
    <td>
      {% if u.is_active %}
        <span class="text-success">Active</span>
      {% else %}
        <span class="text-danger">Inactive</span>
      {% endif %}
    </td>
    <td>
      <!-- EDIT -->
      <a class="btn btn-sm btn-warning"
         href="{{ url_for('admin.user_edit', user_id=u.user_id) }}">
         Edit
      </a>

      <!--RESET-->
      <form method="POST"
          action="{{ url_for('admin.reset_user_password', user_id=u.user_id) }}"
          style="display:inline">
      <button class="btn btn-sm btn-secondary"
              onclick="return confirm('Reset password?')">
        Reset Password
      </button>
    </form>

      <!-- DELETE -->
      {% if u.username != 'admin' %}
      <form method="POST"
            action="{{ url_for('admin.user_delete', user_id=u.user_id) }}"
            style="display:inline"
            onsubmit="return confirm('Delete this user?');">
        <button class="btn btn-sm btn-danger">
          Delete
        </button>
      </form>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
