{% extends "base.html" %}
{% block content %}
<h4>Create User</h4>

<form method="POST" class="w-50">
  <input class="form-control mb-2" name="username" placeholder="Username" required>
  <input class="form-control mb-2" name="full_name" placeholder="Full Name">
  <input class="form-control mb-2" type="password" name="password" placeholder="Password" required>

  <select class="form-control mb-2" name="role">
    <option value="viewer">Viewer</option>
    <option value="operator">Operator</option>
    <option value="admin">Admin</option>
  </select>

  <button class="btn btn-primary">Create</button>
</form>
{% endblock %}
